<!Doctype html>
<html ng-app='imgWidget'>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css'>
		<link rel='stylesheet' type='text/css' href='css/main.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	</head>
	<body>
		<div ng-controller='ImageGalleryController'>
			<nav>
				<h1>+</h1>
				<h3>Add an Image</h3>
				<form ng-submit='addImage()'>
			        <input type='text' ng-model='imgTitle' placeholder='Image Title'><br>
			        <input type='text' ng-model='imgUrl' placeholder='Image Url'></br>
			        <input id='caption-input' type='text' ng-model='imgCaption' placeholder='Image Caption'><br>
			        <input class='btn' type='submit' value='Add'>
			    </form>
			</nav>
			<div ng-repeat='image in images' id='{{images.indexOf(image)}}' class='img-container' style='display:none;background-image:url("{{image.url}}");'>
				<div class='img-hover-box img-top-hover'>
					<h4 ng-click='removeImage(images.indexOf(image))' class='img-remove'>Remove</h4>
					<div class='img-nav'>
						<p class='btn last-btn'><</p>
						<p class='btn next-btn'>></p>
					</div>
					<h1 class='img-title'>{{image.title}}</h1>
				</div>
				<div class='img-hover-box img-bottom-hover'>
					<h3>{{image.caption}}</h3>
				</div>
				<img class='hidden-img' src='{{image.url}}'/>
			</div>
		</div>
	</body>
	<script src='js/img-widget.js'></script>
	<script src='js/main.js'></script>
</html>